table{
    width: 100%;
    border: 1px solid #333;
}

table tr{
    border: 1px solid #333;
}

table tr td{
    border: 1px solid #333;
    padding: 10px;
}

table tr th{
    border: 1px solid #333;
    padding: 10px;
}
